In [2]:
import pandas as pd 
df= pd.read_csv('ME.csv')
df

    S. NO.       REG. NO.       ROLL NO.  ... BRANCH  PCM %   Mobile No
0        1  REGKEC/268/19  1901610400001  ...     ME  74.00  9953981666
1        2  REGKEC/253/19  1901610400002  ...     ME  56.30  9650770855
2        3  REGKEC/627/19  1901610400003  ...     ME  55.70  9540984057
3        4  REGKEC/424/19  1901610400004  ...     ME  56.30  9650291190
4        5  REGKEC/794/19  1901610400005  ...     ME  48.00  9891646301
5        6  REGKEC/183/19  1901610400006  ...     ME  50.60  8799719387
6        7  REGKEC/674/19  1901610400007  ...     ME  47.70  9560615291
7        8  REGKEC/823/19  1901610400008  ...     ME  79.60  9315100612
8        9       UPSEE-FW  1901610400009  ...     ME  61.30  9005077199
9       10  REGKEC/411/19  1901610400010  ...     ME  63.70  9953771030
10      11  REGKEC/853/19  1901610400011  ...     ME  55.67  8076011743
11      12  REGKEC/855/19  1901610400012  ...     ME  70.30  9717881641
12      13  REGKEC/515/19  1901610400013  ...     ME  64.30  9997841164
13      14  REGKEC/509/19  1901610400014  ...     ME  57.00  9654674067
14      15  REGKEC/745/19  1901610400015  ...     ME  78.70  9968166110
15      16  REGKEC/472/19  1901610400016  ...     ME  72.70  9540120505
16      17  REGKEC/606/19  1901610400017  ...     ME  47.30  9717788264
17      18  REGKEC/671/19  1901610400018  ...     ME  67.70  9968616786
18      19  REGKEC/845/19  1901610400019  ...     ME  47.00  9910033733
19      20  REGKEC/214/19  1901610400020  ...     ME  55.30  9711710809
20      21  REGKEC/421/19  1901610400021  ...     ME  82.00  9650518286
21      22  REGKEC/516/19  1901610400022  ...     ME  56.00  8851044760
22      23   REGKEC/65/19  1901610400023  ...     ME  53.30  7258874257
23      24  REGKEC/235/19  1901610400024  ...     ME  50.70  9654349534
24      25  REGKEC/782/19  1901610400025  ...     ME  53.30  9560644171
25      26   REGKEC/37/19  1901610400026  ...     ME  56.00  7838341422
26      27  REGKEC/347/19  1901610400027  ...     ME  49.60  8586997835
27      28  REGKEC/711/19  1901610400028  ...     ME  49.00  8081590288
28      29  REGKEC/725/19  1901610400029  ...     ME  54.00  8920152129

[29 rows x 8 columns]

In [5]:
ds=df.describe()
ds

          S. NO.      ROLL NO.      PCM %     Mobile No
count  29.000000  2.900000e+01  29.000000  2.900000e+01
mean   15.000000  1.901610e+12  59.071379  9.309907e+09
std     8.514693  8.514693e+00  10.406834  7.275735e+08
min     1.000000  1.901610e+12  47.000000  7.258874e+09
25%     8.000000  1.901610e+12  50.700000  8.920152e+09
50%    15.000000  1.901610e+12  56.000000  9.650291e+09
75%    22.000000  1.901610e+12  64.300000  9.717882e+09
max    29.000000  1.901610e+12  82.000000  9.997841e+09

In [8]:
s = pd.Series(ds.index[7])
s

0    max
dtype: object